.antds{
	p Button{
		margin: 5px 10px;
	}
}
.height-20px{
	height: 20px;
}
.alerts{
	.ant-badge {
	  margin-right: 16px;
	}
	.head-example {
	  width: 42px;
	  height: 42px;
	  border-radius: 6px;
	  background: #eee;
	  display: inline-block;
	}
}